
/******************************** Config **********************************/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Poppins');
$icon-font-path: '../fonts/';

$bg-color1: #66afe9;
$bg-color2: #b7d7e8;
$bg-deg: -90deg;

/******************************** Any Element **********************************/
* {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  margin: 0;
}

/******************************** HTML Tags **********************************/
body {
  background: $bg-color1;
  background: -webkit-linear-gradient($bg-deg, $bg-color1, $bg-color2);
  background: -o-linear-gradient($bg-deg, $bg-color1, $bg-color2);
  background: -moz-linear-gradient($bg-deg, $bg-color1, $bg-color2);
  background: linear-gradient($bg-deg, $bg-color1, $bg-color2);
}

fieldset {
  border-radius: 6px;
  margin: 7px 0 20px 0;
}

legend {
  color: $bg-color1;
  font-size: 1.4em;
  padding: 0 7px;
}

/******************************** Custom classes **********************************/
.container-quiz {
  display: block;
  margin: auto;
  margin-top: 25px;
  width: 960px;
}

.title-quiz {
  font-weight: bold;
  font-size: 1.2em;
}

i.fa {
  cursor: pointer;
}

/******************************** Modal **********************************/
.modal {
  display: none;
  position: absolute;
  width: 750px;
  background-color: #FFF;
  z-index: 2;
  left: 50%;
  margin: 20px auto;
  margin-left: -375px;
  padding: 15px 0;
  border-radius: 4px;
}

.modal-header {
  border-bottom: 1px #DEDEDE solid;
  margin-bottom: 20px;
}

.modal-header, .modal-body {
  margin: 0 15px;
}

.dark-bg {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

/******************************** Form/Inputs **********************************/
.form-control {
  display: block;
  margin: auto;
  width: 97.9%;
  height: 34px;
  padding: 0 8.5px;
  font-size: 15px;
  color: #555555;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.modal-body > div > .form-control {
  width: 97.3%;
}

.form-control:focus {
  border-color: $bg-color1;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/******************************** Buttons **********************************/
.btn {
  display: block;
  margin: 10px auto;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
}

.btn-primary {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary:hover {
  background-color: #286090;
  border-color: #204d74;
}

.btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success:hover {
  background-color: #449d44;
  border-color: #398439;
}

.btn-block {
  display: block;
  width: 100%;
}

/******************************** Panels **********************************/
.panel, .panel-inner {
  display: block;
  margin: 15px auto;
  padding: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}

.panel {
  background-color: #FFF;
}

.panel-inner {
  background-color: #FBE6D2;
}

.panel-header, .panel-inner-header {
  color: #cc3700;
  padding: 10px 15px;
}

.panel-header {
  background-color: #f9ccac;
}

.panel-inner-header {
  background-color: #f2ae72;
}

.panel-body, .panel-inner-body {
  padding: 10px 15px;
  color: #555;
}

/******************************** Rating **********************************/
div.stars {
  width: 270px;
  display: block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 22px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

label.star:hover { transform: rotate(-15deg) scale(0.8); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

/******************************** Media Queries **********************************/
@media screen and (max-width: 960px) {
  .container-quiz {
    width: 750px;
  }
}
@media screen and (max-width: 768px) {
  .container-quiz {
    width: 650px;
  }
  .modal {
    width: 650px;
    left: 50%;
    margin-left: -325px;
  }
  .modal-body > div > .form-control {
    width: 97%;
  }
}
@media screen and (max-width: 660px) {
  .container-quiz {
    width: 480px;
  }
  .modal {
    width: 480px;
    left: 50%;
    margin-left: -240px;
  }
  .modal-body > div > .form-control {
    width: 95.7%;
  }
}
@media screen and (max-width: 480px) {
  .container-quiz {
    width: 360px;
  }
  .modal {
    width: 360px;
    left: 50%;
    margin-left: -180px;
  }
  .modal-body > div > .form-control {
    width: 90%;
  }
  .title-quiz {
    text-align: center;
  }
  .form-control {
    width: 90%;
  }
  .btn {
    width: 95.5%;
  }
  .panel {
    width: 95%;
  }
}

@media screen and (max-width: 360px) {
  .container-quiz {
    width: 300px;
  }
  .modal {
    width: 300px;
    left: 50%;
    margin-left: -150px;
  }
  .modal-body > div > .form-control {
    width: 88%;
  }
}